{% extends "base.html" %}
{% load static %}
{% block title %}About - Greenwatch{% endblock %}

{% block banner %}
<p class="title has-text-centered">
    About Greenwatch
</p>
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="is-size-3 has-text-centered">What is Greenwatch?</h1>
                <p>Greenwatch manages your lawncare, so you dont have to.
                     Greenwatch uses existing security cameras to monitor
                      your lawn, keeping track of any areas of
                       concern and notifies you if theres any issues.
                </p>          
            </div>
            <div class="column">
                <h1 class="is-size-3 has-text-centered">How can Greenwatch help me?</h1>
                <p>Greenwatch keeps track of shifting weather paterns and
                     the condition of your lawn to make suggestions on how to
                      keep your grass healthy.</p>
            </div>
            <div class="column">
                <h1 class="is-size-3 has-text-centered">What kinds of things can Greenwatch do?</h1>
                <p>Greenwatch is customizable, it can send notifications
                     based on what matters to you, be it grass height
                      or health. You can choose how and when you want
                       to reveive notifications.</p>
            </div>
        </div>

    </div>

</section>

<section>
    <div class="container">
        <h1 class="is-size-3 has-text-centered has-text-weight-bold has-text-success">
            Tech Stack
        </h1>
    </div>
</section>

<section>
    <div class="columns">

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/azure_logo.png' %}" alt="Placeholder image">
            </div>
        </div>  

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/django_logo.png' %}" alt="Placeholder image">
            </div>
        </div> 

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/ifttt_logo.png' %}" alt="Placeholder image">
            </div>
        </div> 

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/postgreSQL_logo.png' %}" alt="Placeholder image">
            </div>
        </div>  

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/python_logo.png' %}" alt="Placeholder image">
            </div>
        </div>  

        <div class="column">
            <div class="image">
                <img src="{% static 'start/logo/tensorflow_logo.png' %}" alt="Placeholder image">
            </div>
        </div> 


    </div>

</section>


{% endblock %}