{% extends "base.html" %}
{% load static %}

{% block title %}
Archive - Greenwatch
{% endblock %}

{% block banner %}
    <p class="title">
        Archive
    </p>
    <p class="subtitle">
        See how your lawn has changed over time
    </p>
{% endblock %}

{% block content %}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>What will be stored here?</strong>
                    <br> This is the image archive where we will eventually store the information for each user
                    that logs into our control panel
                </p>
                <img src="{% static 'start/grass (1).jpg' %}" />
                <img src="{% static 'start/grass (2).jpg' %}" />
                <img src="{% static 'start/grass (3).jpg' %}" />
            </div>
        </div>
    </article>
{% endblock %}