{% extends "base.html" %}
{% load static %}
{% block title %}Greenwatch{% endblock %}
{% block banner %}
    <p class="title">
        Welcome to Greenwatch!
    </p>
    <p class="subtitle">
        Your Lawn Care A.I. Assistant
    </p>
{% endblock %}
{% block content %}
    <article class="media block">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>What is Greenwatch?</strong>
                    <br> Hello and welcome to Greenwatch! greenwatch is a service dedicated to assessing 
                    your lawn in order to give you the the best advice towards a healthier looking lawn. 
                    Using AoT cameras, we will monitor and inform you on the current condition your lawn is in!
                </p>
            </div>
        </div>
    </article>

    {% if not user.is_authenticated %}
    <h2>Already have an account?</h2>
    <a class="button is-dark" href="{% url 'login' %}">
    Log in here!
    </a>

    <h2>New to Greenwatch?</h2>
    <a class="button is-success" href="{% url 'register' %}">
        Sign up here!
    </a>
    {% endif %}

    {% if user.is_authenticated %}
    <h2>Welcome {{ username }}!</h2>

    <article class="media">
        <div class="media-content">
            <div class="content">
                <p><font color = "00008B">
                    <a href="{% url 'profile' %}">My Profile</a>
                    </font>
                </p>
                <p><font color = "00008B">
                    <a href="{% url 'logout' %}">Logout</a>
                    </font>
                </p>
            </div>
        </div>
    </article>
    {% endif %}
{% endblock %}