{% extends "base.html" %}
{% load static %}

{% block title %}
My Profile - Greenwatch
{% endblock %}

{% block banner %}
    <p class="title">
        My Profile
    </p>
    <p class="subtitle">
        View your account details
    </p>
{% endblock %}

{% block content %}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <strong>User Information:</strong>
                <br>Hello, {{ user.username }}!
                <br> This account is registered under {{ user.email }}
            </div>
            <div class="media-content">
                <p><strong>New Camera Setup:</strong></p><br>
                <form method="POST" action="{% url 'profile' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button" type="Submit">Add Camera</button>
                </form>
            </div>
        </div>
    </article>
{% endblock %}