<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Reset My Password
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">


            <h2>Forgotten your password? Enter your email bellow and we will send you instructions on how to reset your password</h2>
            <h2><br></h2>

            <article class="media">
                <div class="media-content">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <h2><br></h2>
                        <input type="submit" value="Send Email" />
                    </form>
                </div>
            </article>

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                </div>
            </article>

        </div>

    </section>
</body>

</html>