<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Password Reset Sent
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">


            <h2>We've emailed you instructions for resetting your password. 
                If an account exists with the email you provided, you should receive the email shortly. 
                Make sure you check your spam as well.</h2>
            <h2><br></h2>

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                </div>
            </article>

        </div>

    </section>
</body>

</html>